In [1]:
import pandas as pd
import numpy as np 
technologies= ({
    'Courses':["SPARK","PYSPARK","HADOOP","PANDAS"],
    'Fee' :['22000','25000','24000','26000'],
    'Duration':['30days','50days','40days','60days'],
    'Discount':['1000','2300','2500','1400']
              })
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration Discount
0    SPARK  22000   30days     1000
1  PYSPARK  25000   50days     2300
2   HADOOP  24000   40days     2500
3   PANDAS  26000   60days     1400

In [2]:
# convert lowercase column use str.lower()
df['Courses'] = df['Courses'].str.lower()
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [3]:
# convert lowercase column use apply()
df['Courses'] = df['Courses'].apply(str.lower)
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [4]:
# Use apply() & lambda function
df['Courses'].apply(lambda x: x.lower())
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [5]:
# Convert pandas column to lowercase use map()
df['Courses'] = df['Courses'].map(str.lower)
print(df)

   Courses    Fee Duration Discount
0    spark  22000   30days     1000
1  pyspark  25000   50days     2300
2   hadoop  24000   40days     2500
3   pandas  26000   60days     1400

In [6]:
import pandas as pd

data = pd.DataFrame({

    'age' : [15, 17, 20, 14, 25],

    'name': ["Sample", "New User", "My Name", "Jane Doe", "John Doe"]

})

data['name'].str.len()

0    6
1    8
2    7
3    8
4    8
Name: name, dtype: int64

In [10]:
import numpy as np
import pandas as pd
s = pd.Series(['1. Bat.  ', '2. Dog!\n', '3. fox?\t', np.nan])
s.str.strip()

0    1. Bat.
1    2. Dog!
2    3. fox?
3        NaN
dtype: object

In [13]:
s.str.split()

0    [1., Bat.]
1    [2., Dog!]
2    [3., fox?]
3           NaN
dtype: object

In [14]:
import numpy as np
import pandas as pd
s = pd.Series(["this is my new pen",
               "https://www.w3resource.com/pandas/index.php",
               np.nan])

In [15]:
s.str.split()

0                         [this, is, my, new, pen]
1    [https://www.w3resource.com/pandas/index.php]
2                                              NaN
dtype: object

In [18]:
s.str.contains('a')

0    False
1     True
2      NaN
dtype: object

In [19]:
s.str.replace('a','')

0                           this is my new pen
1    https://www.w3resource.com/pnds/index.php
2                                          NaN
dtype: object

In [21]:
s.str.startswith('t')

0     True
1    False
2      NaN
dtype: object

In [22]:
s.str.endswith('a')

0    False
1    False
2      NaN
dtype: object

In [29]:
s.str.cat(sep='_')

'this is my new pen_https://www.w3resource.com/pandas/index.php'

In [30]:
s.str.get("this")

0   NaN
1   NaN
2   NaN
dtype: float64

In [31]:
s.str.slice()

0                             this is my new pen
1    https://www.w3resource.com/pandas/index.php
2                                            NaN
dtype: object

In [32]:
s.str.find('w')

0    13.0
1     8.0
2     NaN
dtype: float64